<h2>注册</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.email_field :email, autofocus: true %></div>

  <div><span>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</span>：
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div>确认密码：
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "注册" %></div>
<% end %>
<br>
<%= render "devise/shared/links" %>
