<script type="text/javascript">
	$(function(){
		$("#check_all").change(function(){
			var all_sub_checkbox=$("tbody input[type='checkbox']")
			if(this.checked){
				all_sub_checkbox.prop("checked",true);
			}else{
				all_sub_checkbox.prop("checked",false);
			}
		});
	})
</script>
<table class="table" cellspacing="0px">
	<thead>
	<tr>
	<th><input type="checkbox" id="check_all"/></th>
	<th>wid</th>
	<th>wuid</th>
	<th>昵称</th>
	<th>全称</th>
	<th>手机</th>
	</tr>
	</thead><tdody>
<% @workers.each_with_index do |worker,ind|  %>
<tr <%="class=tr_#{ind%2}"%>>
	<td><input type="checkbox" name=<%=worker.id %>/></td>
	<td><%= worker.wid%></td>
	<td><%= worker.wuid%></td>
	<td><%= worker.nickname%></td>
	<td><%= worker.name%></td>
	<td><%= worker.phone%></td>
</tr>
<% end%>
</tdody>
</table>
<div>