<link rel="stylesheet" href="/assets/css/select2.css" />    

    <style>
      .controls > select {
        width:80%;
      }
    </style>
<div class="widget-box">
              <div class="widget-title">
                <span class="icon">
                  <i class="glyphicon glyphicon-align-justify"></i>                 
                </span>
                <h5></h5>
              </div>
              <div class="widget-content nopadding">
                <%= form_for @site_worker,:html=>{:class=>"form-horizontal",:multipart => true} do |f| %>
                  <div class="form-group">
                    <label class="control-label">姓名</label>
                    <div class="controls">
                      <%= f.text_field :name , :class => "form-control input-small"%>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label">手机</label>
                    <div class="controls">
                      <%= f.text_field :phone , :class => "form-control input-small"%>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label">门店</label>
                    <div class="controls">
                      <%= collection_select("site_worker","site_id", @sites, :id, :name ) %> 
                    </div>
                  </div>
                  <div class="form-actions">
                    <%= submit_tag '保存',:class => "btn btn-primary btn-small" %>
                    or <a class="text-danger" href="/site_workers">取消</a>
                  </div>
                  <% end%>
              </div>
            </div>
<script>
  // $("#site_worker_site_id").select2({ width: 'resolve' });
  $("#site_worker_site_id").css("float","left");
</script>
