<link rel="stylesheet" href="/assets/css/select2.css" />		

 <script type="text/javascript"></script>
  <style>
 	.btn-default {
 		color:#474749;
 	}

 	.btn:hover {
 		background-color:#575759;
 		background-position: 0 -38px;
 	}
 	.btn:focus {
 		background-color:#404343;
 		background-position: 0 -38px;
 	}
 </style>
<div class="widget-box">
	<div class="widget-title">
		<span class="icon">
			<i class="glyphicon glyphicon-th"></i>
		</span>
		<h5>Dynamic table</h5>
	</div>
	<div class="widget-content nopadding">
		<table class="table table-bordered table-striped	hover data-table">
	<thead>
	<tr>
	<td width="60px">编号</td>
	<td width="100px">姓名</td>
	<td width="60px">wid</td>
	<td width="100px">微信昵称</td>
	<td width="200px">安装点</td>
	<td width="60px">状态</td>
	<td width="100px">操作</td>
	</tr>
	</thead><tbody>
<% @site_workers.each do |site_worker|  %>
<tr>
	<td><%= site_worker.id%></td> 
	<td><%= site_worker.name%></td>
	<td><%= site_worker.wid%></td> 
	<td><%= site_worker.nickname%></td>	
	<!-- <td><%= site_worker.wuid%></td> -->
	<td><%= site_worker.site.name if site_worker.site%></td>
	<td><%= site_worker.state%></td>
	<td>
		<div>
			<%= link_to edit_site_worker_path(site_worker),  :class => "btn-mini tip-bottom",:title=>"启用" do %>
                        <i class="glyphicon glyphicon-ok"></i>
                        <% end %>
					

			<%= link_to lock_worker_site_worker_path(site_worker), :class => "btn-mini tip-bottom",:title=>"禁用" do %>
                        <i class="glyphicon glyphicon-lock"></i>
                        <% end %>
					

			<%= link_to site_worker, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn-mini tip-bottom",:title=>"删除" do %>
                        <i class="glyphicon glyphicon-remove"></i>
                        <% end %>
		</div>		
	</td>
</tr>
<% end%>

</tbody>
</table>
	</div>
</div>
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/unicorn.tables.js"></script>