 <script type="text/javascript"></script>
  <style>
 	.btn-default {
 		color:#474749;
 	}

 	.btn:hover {
 		background-color:#575759;
 		background-position: 0 -38px;
 	}
 	.btn:focus {
 		background-color:#404343;
 		background-position: 0 -38px;
 	}
 </style>
<div class="widget-box">
	<div class="widget-title">
		<span class="icon">
			<i class="glyphicon glyphicon-th"></i>
		</span>
		<h5>Dynamic table</h5>
	</div>
	<div class="widget-content nopadding">
		<table class="table table-bordered table-striped	hover data-table">
	<thead>
	<tr>
	<td>编号</td>
	<td>姓名</td>
	<td>wid</td>
	<td>微信昵称</td>
	<td>安装点</td>
	<td>操作</td>
	</tr>
	</thead><tbody>
<% @site_workers.each do |site_worker|  %>
<tr>
	<td><%= site_worker.id%></td> 
	<td><%= site_worker.name%></td>
	<td><%= site_worker.wid%></td> 
	<td><%= site_worker.nickname%></td>	
	<!-- <td><%= site_worker.wuid%></td> -->
	<td><%= site_worker.site.name if site_worker.site%></td>
	<td>
		<div class="btn-group">
			<a class="btn btn-default" href=<%="/site_workers/#{site_worker.id}"%> ><i class="glyphicon glyphicon-search">状态</i></a>
			<a class="btn btn-default" href=<%="/site_workers/#{site_worker.id}/edit"%> ><i class="glyphicon glyphicon-pencil">编辑</i></a>
			<a class="btn btn-default" href=<%="/site_workers/#{site_worker.id}"%> data-confirm="Are you sure?" data-method="delete" rel="nofollow"><i class="glyphicon glyphicon-remove">删除</i></a>
		</div>	
	</td>
</tr>
<% end%>

</tbody>
</table>
	</div>
</div>
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/unicorn.tables.js"></script>