    <link rel="stylesheet" href="/assets/css/datepicker.css" />
    <link rel="stylesheet" href="/assets/css/select2.css" />    
    <script src="/assets/js/bootstrap-datepicker.js"></script>

    <style>
      .controls > select {
        width:80%;
      }
    </style>
<div class="widget-box">
              <div class="widget-title">
                <span class="icon">
                  <i class="glyphicon glyphicon-align-justify"></i>                 
                </span>
                <h5>New service_order</h5>
              </div>
              <div class="widget-content nopadding">
                <%= form_for @service_order,:html=>{:class=>"form-horizontal"} do |f| %>
                  <div class="form-group">
                    <label class="control-label">预约人</label>
                    <div class="controls">
                      <%= f.text_field :cname , :class => "form-control input-small" %>
                   </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">电话</label>
                    <div class="controls">
                      <%= f.text_field :cmobile , :class => "form-control input-small"%>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">日期</label>
                    <div class="controls">
                      <input id="txt_time_service" type="text" value="" name="service_order[time_service]" data-date-format="yyyy-mm-dd" class="datepicker form-control input-small">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">门店</label>
                    <div class="controls">
                      <%= collection_select "service_order","site_id", Site.all, :id, :name , :class =>"form-control input-small" %>
<!--                       <input type="text" class="form-control input-small" placeholder="This is a placeholder..." />
 -->                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">订单</label>
                    <div class="controls">
                      <%= collection_select("service_order","tb_trade_id", TbTrade.all, :id, :cname ,:class =>"form-control input-small") %>
                    </div>
                  </div>
                  <div class="form-actions">
                    <%= submit_tag '保存',:class => "btn btn-primary btn-small" %>
                    or <a class="text-danger" href="/service_orders">取消</a>
                  </div>
                  <% end%>
              </div>
            </div>

<script>
$('.datepicker').datepicker();
$("#txt_time_service").val('2011-2-5');
</script>
 <script src="/assets/js/select2.min.js"></script>