<link rel="stylesheet" href="/assets/css/select2.css" />		
<link rel="stylesheet" href="/assets/css/icheck/flat/blue.css" />

<%=form_tag '/service_orders/delete_all',:method=>"post", :id=>"frm_main" do%>

<div class="widget-box">
	<div class="widget-title">
		<span class="icon">
			<i class="glyphicon glyphicon-remove" id="btn_delete"></i>
		</span>
		<h5>任务列表</h5>
	</div>
	<div class="widget-content nopadding">
		<table class="table table-bordered table-striped hover data-table with-check">
			<thead>
	            <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
				<th width="200px">预约时间</th>
				<th width="100px">客户</th>
				<th width="100px">电话</th>
				<th width="150px">key</th>
				<th width="100px">网点</th>
				<th width="100px">状态</th>
				<th width="100px">操作</th>
			</tr>
			</thead>
<tdody>
<% @service_orders.each do |service_order|  %>
<tr>
	<td><%=check_box_tag("ids[]",service_order.id)%></td>
	<td><%=l service_order.time_service if service_order.time_service%></td>	 
	<td><%= service_order.cname%></td>
	<td><%= service_order.cmobile%></td>
	<td><%= service_order.uid%></td>
	<td><%= service_order.site.name if service_order.site%></td>	
	<td><%= service_order.status%></td>
	<td>
		<div>
 		<%= link_to service_order_path(service_order),:class => "btn-mini tip-bottom",:title =>"查看" do %>
          <i class="glyphicon glyphicon-eye-open"></i>
        <% end %>

 		<%= link_to edit_service_order_path(service_order),:class => "btn-mini tip-bottom",:title =>"编辑" do %>
          <i class="glyphicon glyphicon-pencil"></i>
        <% end %>
 		<%= link_to send_sms_service_order_path(service_order),:class => "btn-mini tip-bottom",:title =>"发送短信" do %>
          <i class="glyphicon glyphicon-envelope"></i>
        <% end %>
 		<%= link_to service_order, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn-mini tip-bottom",:title=>"  删除" do %>
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>
		</div>
	</td>
</tr>
<% end%>
</tdody>
</table>
</div>
</div>
<%end%>
<script type="text/javascript">
$( "#btn_delete").click(function() {
  $("#frm_main").submit();
});
</script>
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/unicorn.tables.js"></script>
