<!--   attr_accessible :alipay_id, :alipay_pix, :cmobile, :cname, :price, :site_id, 
  					:site_pix, :site_worker_id, :status, :tb_trade_id, :uid, :user_id,
  					:time_service -->
<table class="table" cellspacing="0px">
	<thead>
	<tr>
		<td>安装工</td>
	<td>状态</td>
	<td>客户</td>	
	<td>电话</td>
	<td>上传照片</td>	
	<td>操作</td>
	</tr>
	</thead><tdody>

<tr> 
	<td><%= @service_order.site_worker_id%></td>
	<td><%= @service_order.status%></td>
	<td><%= @service_order.cname%></td>	
	<td><%= @service_order.cmobile%></td>
	<td><%= @service_order.site_pix%></td>	
	<td><%= link_to 'Pass', @service_order %></td>
</tr>
<tr>
</tdody>
</table>
