<link rel="stylesheet" href="assets/css/select2.css" />		

 <style>
 	.btn-default {
 		color:#474749;
 	}

 	.btn:hover {
 		background-color:#575759;
 		background-position: 0 -38px;
 	}
 	.btn:focus {
 		background-color:#404343;
 		background-position: 0 -38px;
 	}
 </style>

<div class="widget-box">
	<div class="widget-title">
		<span class="icon">
			<i class="glyphicon glyphicon-th"></i>
		</span>
		<h5>网点列表</h5>
	</div>
	<div class="widget-content nopadding">
		<table class="table table-bordered table-striped hover data-table">
			<thead>
				<th width="200px">名称</th>
				<th width="80px">省</th>
				<th width="100px">市</th>
				<th width="200px">地点</th>
				<th width="60px">星级</th>
				<th width="100px">操作</th>
			</tr>
			</thead>
			<tbody>
				<% @sites.each_with_index do |site,ind|  %>
				<tr>
					<td><%= site.name%></td>
					<td><%= site.province%></td>
					<td><%= site.city%></td>
					<td><%= site.location%></td>
					<td><%= site.star%></td>



					<td>
					<div>
						<%= link_to edit_site_path(site),:class => "btn-mini tip-bottom",:title =>"编辑" do %>
                        <i class="glyphicon glyphicon-pencil"></i>
                        <% end %>
						<%= link_to "/site_workers?site_id=#{site.id}",:class => "btn-mini tip-bottom",:title=>"员工列表"  do %>
                        <i class="glyphicon glyphicon-user"></i>
                        <% end %>
						<%= link_to "/service_orders?site_id=#{site.id}",:class => "btn-mini tip-bottom",:title=>"服务单" do %>
                        <i class="glyphicon glyphicon-list"></i>
                        <% end %>

					</div>	</td>

				
				</tr>
				<% end%>
			</tbody>
		</table>
	</div>
</div>




<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery-ui.custom.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.icheck.min.js"></script>
<script src="assets/js/select2.min.js"></script>
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/jquery.jpanelmenu.min.js"></script>
<script src="assets/js/unicorn.js"></script>
<script src="assets/js/unicorn.tables.js"></script>
 <script type="text/javascript">
// 	$(function(){
// 		$('.city_selector').CitySelector();
// 		$('.city_selector_add').CitySelector();
// 	})

 </script>