<!-- :alipay_id, :alipay_pix, :cmobile, :cname, :price, :site_id, 
            :site_pix, :site_worker_id, :status, :tb_trade_id, :uid, :user_id,
            :time_service
 -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" href="/assets/css/colorpicker.css" />
    <link rel="stylesheet" href="/assets/css/icheck/flat/blue.css" />
    <link rel="stylesheet" href="/assets/css/select2.css" />    
    <link rel="stylesheet" href="/assets/css/unicorn.main.css" />
    <link rel="stylesheet" href="/assets/css/unicorn.grey.css" class="skin-color" />

    <style>
    </style>
<div class="widget-box">
              <div class="widget-title">
                <span class="icon">
                  <i class="glyphicon glyphicon-align-justify"></i>                 
                </span>
                <h5>New site</h5>
              </div>
              <div class="widget-content nopadding">
                <%= form_for @site,:html=>{:class=>"form-horizontal"} do |f| %>
                  <div class="form-group">
                    <label class="control-label">名称</label>
                    <div class="controls">
                      <%= f.text_field :name , :class => "form-control input-small" %>
                   </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">province</label>
                    <div class="controls">
                      <%= f.text_field :province , :class => "form-control input-small"%>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">location</label>
                    <div class="controls">
                      <%= f.text_field :location , :class => "form-control input-small"%>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">city</label>
                    <div class="controls">
                      <%= f.text_field :city , :class => "form-control input-small"%>
                   </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">cert</label>
                    <div class="controls">
                      <%= f.text_field :cert , :class => "form-control input-small"%>
                    </div>
                  </div>
                  <div class="form-actions">
                    <%= submit_tag 'Save',:class => "btn btn-primary btn-small" %>
                    or <a class="text-danger" href="/sites">Cancel</a>
                  </div>
                  <% end%>
              </div>
            </div>
<script type="text/javascript">
$('.datepicker').datepicker();

</script>
