<!-- :alipay_id, :alipay_pix, :cmobile, :cname, :price, :site_id, 
            :site_pix, :site_worker_id, :status, :tb_trade_id, :uid, :user_id,
            :time_service
 -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" href="/assets/css/colorpicker.css" />
    <link rel="stylesheet" href="/assets/css/icheck/flat/blue.css" />
    <link rel="stylesheet" href="/assets/css/select2.css" />    
    <link rel="stylesheet" href="/assets/css/unicorn.main.css" />
    <link rel="stylesheet" href="/assets/css/unicorn.grey.css" class="skin-color" />
    <script rel="text/javascript" src="/assets/js/ac.js"/></script>
    <script>
      $(function(){
        $().CitySelector();
      })
    </script>

    <style type="text/css">
      .controls > select {
        width:80%;
      }
      #allmap {
      width: 80%;height: 280px;overflow: hidden;margin:0;}

    </style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=A1e659ec5ab4bffae1287db98219f599"></script>

<div class="widget-box">
              <div class="widget-title">
                <span class="icon">
                  <i class="glyphicon glyphicon-align-justify"></i>                 
                </span>
                <h5>New site</h5>
              </div>
              <div class="widget-content nopadding">
                <%= form_for @site,:html=>{:class=>"form-horizontal"} do |f| %>
                  <div class="form-group">
                    <label class="control-label">名称</label>
                    <div class="controls">
                      <%= f.text_field :name , :class => "form-control input-small" %>
                   </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">cert</label>
                    <div class="controls">
                      <%= f.text_field :cert , :class => "form-control input-small"%>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">省份/直辖市</label>
                    <div class="controls">
                      <select id="site_province" name="site[province]" class="province form-control input-small"></select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">市/区</label>
                    <div class="controls">
                      <select id="site_city" name="site[city]" class="city form-control input-small"></select>
                   </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">地址</label>
                    <div class="controls">
                      <%= f.text_field :address , :class => "form-control input-small"%>
                  </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">定位</label>
                    <div class="controls">
                      <div id="allmap"></div>
                      <button id="btn_geo" class="btn btn-primary btn-choose" style="float:left;" type="button">地址定位</button>
                  </div>
                  </div>
                  <%= f.hidden_field :location%>
                  <div class="form-actions">
                    <%= submit_tag '保存',:class => "btn btn-primary btn-small" %>
                    or <a class="text-danger" href="/sites">取消</a>
                  </div>
                  <% end%>
              </div>
            </div>
<script type="text/javascript">
$(document).ready(function(){
  var map = new BMap.Map("allmap");
  var point = new BMap.Point(116.331398,39.897445);
  map.centerAndZoom(point,12);

  geolocation = new BMap.Geolocation();
  console.log(geolocation);
  geolocation.getCurrentPosition(function(r){
    console.log("1111");
    if(this.getStatus() == BMAP_STATUS_SUCCESS){
        var mk = new BMap.Marker(r.point);
        map.addOverlay(mk);
        map.panTo(r.point);
        $("#site_address").val(r.point.lng+','+r.point.lat);
    }
    else {
        alert('地点获取失败');
    }        
  },{enableHighAccuracy: true})
});
</script>