<!DOCTYPE html>
<html>
<head>
  <title>Weebill</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/assets/css/bootstrap-glyphicons.css" />
		<link rel="stylesheet" href="/assets/css/fullcalendar.css" />	
		<link rel="stylesheet" href="/assets/css/unicorn.main.css" />
		<link rel="stylesheet" href="/assets/css/unicorn.grey.css" class="skin-color" /> 

<script src="/assets/js/jquery-ui.custom.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.icheck.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.jpanelmenu.min.js"></script>

<script src="/assets/js/unicorn.js"></script>
		<style>
			td {
				text-align: center!important;
			}
		</style>
</head>

	<body>
		<div id="header">
			<h1><a href="./dashboard.html">网点通</a></h1>	
		</div>
    	<div id="user-nav">
            <ul class="btn-group">
                <li class="btn" ><a title="" href="#"><i class="glyphicon glyphicon-envelope"></i> <span class="text">消息</span></a></li>              
                <li class="btn"><a title="" href="#"><i class="glyphicon glyphicon-cog"></i> <span class="text">帐号管理</span></a></li>

                <li class="btn"><a href="/users/sign_out" data-method="delete" rel="nofollow"><i class="glyphicon glyphicon-share-alt"></i> <span class="text">退出</span></a></li>
            </ul>
        </div>
<%
@menus=	{
	'/sites'=>{text:'网点管理',icon:'glyphicon-home'},
	'/service_orders'=>{text:'任务管理',icon:'glyphicon-hand-right'},
	'/tb_trades'=>{text:'订单管理',icon:'glyphicon-tasks'},
	'/brands'=>{text:'车型列表',icon:'glyphicon-tag'},
		}
%>
            
		<div id="sidebar">
			<!--<a href="#" class="hide"><i class="glyphicon glyphicon-home"></i> Dashboard</a>-->
			<ul>

<%  @menus.each do |k,v|%>
<li <%="class=active" if request.path =~ /#{k}/ %>><a href="<%=k%>"><i class="glyphicon <%=v[:icon]%>"></i> <span><%=v[:text]%></span></a></li>
<%end%>				
						
			</ul>
		
		</div>
	
		<div id="content">
			<div id="content-header">
				<h1>Weebill</h1>
				<div class="btn-group">
					<% if params[:action]=="index"%>
						<a class="btn" href=<%= "#{params[:controller]}/new" %> ><i class="glyphicon glyphicon-plus"></i></a>
						<a class="btn" href=<%= "#{params[:controller]}/import" %> ><i class="glyphicon glyphicon-upload"></i></a>
					<%end%>
					
				</div>
			</div>
			<%=breadcrumb%>

			<div class="container-fluid">
				<div class="row">
					<div class="col-12 center" style="text-align: center;">					
						<%=yield%>
					</div>	
				</div>
			</div>	
				</div>
				
			</div>

		</div>
		<div class="row">
			<div id="footer" class="col-12">
				2012 - 2013 &copy; Unicorn Admin. Brought to you by <a href="https://wrapbootstrap.com/user/diablo9983">diablo9983</a>
			</div>
		</div>
	</body>



	
</html>

