<!DOCTYPE html>
<html>
<head>
  <title>Weebill</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/assets/css/bootstrap-glyphicons.css" />
		<link rel="stylesheet" href="/assets/css/fullcalendar.css" />	
		<link rel="stylesheet" href="/assets/css/unicorn.main.css" />
		<link rel="stylesheet" href="/assets/css/unicorn.grey.css" class="skin-color" /> 

<script src="/assets/js/jquery-ui.custom.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.icheck.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.jpanelmenu.min.js"></script>

<script src="/assets/js/unicorn.js"></script>
<style>
 .notice {
    text-align: center;
    padding: .3em .4em;
    margin: 0 auto .5em;
    clear: both;
    max-width: 46.923em; /* 610/13 */
    *max-width: 45.750em; /* 610/13.3333 - for IE */
    border: thin solid #ff0;
    background: #ffe;
}			
		</style>
</head>

	<body>
		<div id="header">
		  <h1 ><a href="./dashboard.html">网点通</a></h1>	
		</div>
    	<div id="user-nav">
            <ul class="btn-group">
                <li class="btn" ><a title="" href="/wx_templates"><i class="glyphicon glyphicon-envelope"></i> <span class="text">微信模板</span></a></li>              

                <li class="btn" ><a title="" href="/sms_templates"><i class="glyphicon glyphicon-envelope"></i> <span class="text">短信模板</span></a></li>              
                <li class="btn"><a title="" href="/users/edit"><i class="glyphicon glyphicon-cog"></i> <span class="text">帐号管理</span></a></li>

                <li class="btn"><a href="/users/sign_out" data-method="delete" rel="nofollow"><i class="glyphicon glyphicon-share-alt"></i> <span class="text">退出</span></a></li>
            </ul>
        </div>
<%
@menus=	[
	{url:'/',text:'主页',icon:'glyphicon-user'},
	{url:'/sites',text:'网点管理',icon:'glyphicon-home'},
	{url:'/service_orders',text:'任务管理',icon:'glyphicon-hand-right',submenus:[
		
		{url:'/service_orders/?status=pending',text:'待分派',icon:'glyphicon-tasks',key:'service_orders-pending',v:0},
		{url:'/service_orders/?status=assigned',text:'待通知',icon:'glyphicon-tasks',key:'service_orders-assigned',v:0},
		{url:'/service_orders/?status=informed',text:'待安装',icon:'glyphicon-tasks',key:'service_orders-informed',v:0},
		{url:'/service_orders/?status=installation',text:'待付款',icon:'glyphicon-tasks',key:'service_orders-installation',v:0},
		{url:'/service_orders/?status=payed',text:'已付款',icon:'glyphicon-tasks',key:'service_orders-payed',v:0},
		{url:'/service_orders/',text:'全部任务',icon:'glyphicon-tasks'},
		]
	},
	{url:'/tb_trades',text:'订单管理',icon:'glyphicon-tasks',submenus:[
		{url:'/tb_trades/error',text:'导入失败订单',icon:'glyphicon-tasks',key:'tb_trades-error',v:0},
		{url:'/tb_trades/',text:'全部订单',icon:'glyphicon-tasks',key:'pending',v:0},
		# {url:'/tb_trades/?status=pending',text:'已预分配订单',icon:'glyphicon-tasks'},
		]
	},
	{url:'/sms_logs',text:'短信发送记录',icon:'glyphicon-tag'},
]
if current_user then 
  idx1 = current_user.service_orders.group(:status).count
  idx1.each do |k,v| 
  	next if !k
  	menu = @menus[2][:submenus].select{|x|x[:url]=="/service_orders/?status="+k}.first
  	menu[:v]=v if menu
  end
  idx2 = current_user.tb_trades.group(:status).count
  menu = @menus[3][:submenus].select{|x|x[:url]=="/tb_trades/error"}.first
  menu[:v]=idx2["error"] if menu
end
%>
            
		<div id="sidebar">
			<!--<a href="#" class="hide"><i class="glyphicon glyphicon-home"></i> Dashboard</a>-->
			<ul>

<%  @menus.each do |menu|%>
<li>
	<a href="<%=menu[:url]%>"><i class="glyphicon <%=menu[:icon]%>"></i> <span><%=menu[:text]%></span></a>
	<%if menu[:submenus]%>
	<ul style="display: block;">
	<%menu[:submenus].each do |m|%>
		<li><a href="<%=m[:url]%>" id="menu_#{m[:key]}"><i class="glyphicon <%=m[:icon]%>"></i><span><%=m[:text]%></span>
		<%=raw "<span class='label'>#{m[:v]}</span>" if m[:v] && m[:v]>0%>
		</a></li>
	<%end%>
	</ul>
	<%end%>
</li>
<%end%>				
						
			</ul>
		
		</div>
	
		<div id="content">
			<div id="content-header">
				<h1>Weebill</h1>
				<div class="btn-group">
					<% if params[:action]=="index"%>
						<a class="btn" href=<%= "/#{params[:controller]}/new" %> ><i class="glyphicon glyphicon-plus"></i></a>
						<a class="btn" href=<%= "/#{params[:controller]}/import" %> ><i class="glyphicon glyphicon-upload"></i></a>
					<%end%>
				</div>
			</div>
			<%=breadcrumb%>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 center" style="text-align: center;">
						<%=yield%>
					</div>	
				</div>
			</div>	
				</div>
				
			</div>

		</div>
		<div class="row">
			<div id="footer" class="col-12">
				2012 - 2013 &copy; Unicorn Admin. Brought to you by <a href="https://wrapbootstrap.com/user/diablo9983">diablo9983</a>
			</div>
		</div>
	</body>

<script type="text/javascript">
  var url = $('a[href="'+window.location["pathname"]+window.location["search"]+'"]');
  url.parent().attr("class","active");

</script>

	
</html>

